@model BankAssignmentMVC.Models.BranchViewModel

<h2>Are you sure you want to delete this?</h2>

<h3>Delete @ViewBag.BranchName | @ViewBag.BankName</h3>

<div>
    <hr />

    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.BranchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>

    @using (Html.BeginForm()) {

        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.BranchID)
        @Html.HiddenFor(model => model.BankID)

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", new { id = Model.BankID })
        </div>
    }
</div>
